*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 20px;

    section{
        height: 100%;
        flex-grow: 1;
    }

    section:nth-child(){
        background-image: url(https://tse3.mm.bing.net/th/id/OIP.cLgiz4iVhtVJOTTf7Agk0QHaKP?pid=Api&P=0&h=180);
    }
    
}
