*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height:100px;
    width:100px;
}

#box{
    height: 150px;
    width: 150px;
    background-color: blueviolet;
    border: 5px solid rgb(199, 14, 14);
}

