*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#box1{
    height:200px;
    width: 200px;
    background: linear-gradient(yellow, green, brown);
}

#box2{
    height: 250px;
    width: 250px;
    background: linear-gradient( to right bottom, red, blue, green);
}

#box3{
    height: 300px;
    width: 250px;
    background: radial-gradient(yellow, red, black);
}

#box4{
    height:300px;
    width: 300px;
    background: conic-gradient(violet, indigo,blue, green, yellow, orange, red, violet);
}