*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height:100%;
    width: 100%;

}

#homepage{
    height: 3000px;
    width: 100%;
    background-color: blue;
}

#side{
    position: absolute;
    right: 0;
    top: 50%;
    height:400px; 
    width: 100px;
    background-color: red;
}